MONGODB_URI=mongodb+srv://<username>:<password>@m0.rloatoz.mongodb.net/
// or mongodb://<username>:<password>@ac-cxbrecs-shard-00-00.rloatoz.mongodb.net:27017,ac-cxbrecs-shard-00-01.rloatoz.mongodb.net:27017,ac-cxbrecs-shard-00-02.rloatoz.mongodb.net:27017/?ssl=true&replicaSet=atlas-51kf4j-shard-0&authSource=admin&appName=M0
PORT=<your_port>